{% extends  'basic.html' %}

{% block title %}

About

{% endblock title %}

{% block body %}
{% load static %}
<div class="container mt-3">
  <body style="background-color: powderblue;">
    <div class="jumbotron jumbotron-fluid">

  <div  class="container">

    <h1  class="display-4" style="font-family: 'Bebas Neue', cursive; background-color: rgb(52, 132, 135);">ABOUT</h1>
      <h6><strong>The working of OAuth Authentication with Google</strong></h6><hr><br><br><br>

<div id="democontainer" style="">
<img id="demoimage" src="{% static 'images/blog-open1.png' %}" width="500" height="380"><br><br>
<p style="font-size:20; text-align:center; background-color: antiquewhite;" >Google APIs use the OAuth 2.0 protocol
    <br>for authentication and authorization.<br>
    Then your client application requests an access <br>
     token from the Google Authorization Server,<br>
    extracts a token from the response, and sends <br>
     the token to the Google API that you want to access.
</p>
<br style="clear: both;">
</div>
  </div>

</body>
{% endblock body %}